body {
  background: #000;
  color: #fff;
  font-family: "VT323", monospace;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100% !important;
  min-width: 100% !important;
}

#timecode {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
}

#timecode > span {
  display: block;
  font-size: 1.4em;
  margin: 0.4em 0 2em;
}
